/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.btn-signin
{
    float: right;
    margin-bottom: 0px;
    background-color: blue;
    color: white;
      margin-left: 10px;
       padding: 5px;
    overflow: hidden;
    	font-family: "Lucida Console", "Monaco", "monospace";
}
.header
{
color: dodgerblue;
    margin-top: 15px;
    font-family:"Marck Script";
    font-size:40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;

}
h6
{
color: black;
    font-family:"Niconne";
    font-size:23px;
    margin-top: 15px;
    line-height: 26.4px;
}